name: Java Code Format
permissions: {}

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main", "release-*"]
  merge_group:

concurrency:
  group: java-format-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  format:
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
        java: [ "17" ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Verify code format with Maven
        run: mvn --batch-mode --no-transfer-progress --errors -Drevision=0.0.0 com.spotify.fmt:fmt-maven-plugin:check
      - name: Verify licenses with Maven
        run: mvn --batch-mode --no-transfer-progress --errors  -Drevision=0.0.0 license:check